.game-board-grid {
    height: 80vh;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5rem;
    background-color: var(--thertiary-background-color);
}

@media (max-aspect-ratio: 1/1) {
   .game-board-grid {
    width: 80vw;
    height: auto;
   }
}

.game-board-field {
    border: none;
    background-color: var(--primary-background-color);
    padding: 0;
}

.game-board-field:hover {
    background-color: var(--secondary-background-color);
}

.red {
    color: var(--red-color)
}

.blue {
    color: #0000ff
}

.game-board-button {
    font-size: 7rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: none;
}

@media (max-width: 400px) {
    .game-board-button {
        font-size: 4rem;
    }
}

.game-board-winner-text {
    position: absolute;
    align-self: center;
    justify-self: center;
    padding: 2rem 3rem 2rem 3rem;
    font-size: 4rem;
    background-color: var(--thertiary-background-color);
}

.game-board-play-button {
    position: absolute;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: var(--green-color);
    color: var(--text-color);
}