:root {
    --text-color: #ffffff;
    --primary-background-color: #ffffff;
    --secondary-background-color: #efefef;
    --thertiary-background-color: #bcbcbc;
    --red-color: #ff0000;
    --blue-color: #0000ff;
    --green-color: #00c900;
}